/*  Шрифты  */
@font-face{ 
    font-family: HFF; src: url('../fonts/9260.otf'); 
}

@font-face { 
    font-family: 'p22_corinthia';
    src: url('../fonts/p22_corinthia.eot'); 
    src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/p22_corinthia.woff') format('woff'), 
    url('../fonts/p22_corinthia.ttf') format('truetype'), 
    url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}

/*  Основа  */
body { 
    background: #fff; 
    width: 100%; 
}

.wrapper { 
    max-width: 1100px; 
    margin: 0 auto; 
    position: relative; 
}

h1, h2, h3, h4, h5 ,h6 { 
    color: #626262; 
    font-family: 'Comfortaa', cursive; 
    letter-spacing: 1px; 
}

h1 { 
    font-size: 2em; 
    margin: .67em 0
}

h2 { 
    font-size: 1.5em; 
    margin: .75em 0; 
}

h3 { 
    font-size: 1.17em; 
    margin: .83em 0; 
}

h5 { 
    font-size: .83em; 
    margin: 1.5em 0; 
}

h6 { 
    font-size: .75em; 
    margin: 1.67em 0; 
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: bolder; 
}

.clearfx:before, .clearfix:after { 
    content: " "; 
    display: table; 
}  

.clearfix:after { 
    clear: both; 
}  

.clearfix { 
    *zoom: 1; 
}

a:hover{
    text-decoration: none;
    color: white;
}

/*  Header */
header { 
    width: 100%; 
    height: 100px; 
    background: rgba(255, 255, 255, .25);
}

header .logo, footer .logo { 
    font-family: HFF; 
    text-decoration: none; 
    font-size: 250%; 
    margin-top: 30px; 
    float: left; 
}

header a.hamburger { 
    text-decoration: none; 
    display: none; 
    float: right; 
    margin-top: 41px; 
    width: 24px; 
    height: 19px; 
    background: url('../img/hamburger_icon.png') no-repeat; 
}

header a.hamburger.opned { 
    width: 19px; 
    background: url('../img/close_menu_icon.png') no-repeat; 
}

header nav { 
    margin-right: -100px;
    float: right; 
    opacity: 1; 
}

header nav ul {
    margin-top: 40px; 
    list-style: none; 
    overflow: hidden; 
    float: left; 
}

header nav ul li { 
    float: left;
    margin-left: 30px;
}

header nav ul li a, header nav .login_btn { 
    text-decoration: none; 
    color: #fff; 
    font-family: 'Comfortaa', cursive;
    font-size: 15px; 
    letter-spacing: 1px; 
}

header nav .login_btn { 
    float: right;
    margin: 30px 0 0 40px; 
    padding: 10px 30px 11px 30px; 
    border: 2px solid #ffffff; 
    background: transparent; 
    transition: background .1s linear;
    -webkit-transition: background .1s linear; 
    -moz-transition: background .1s linear; 
    -o-transition: background .1s linear; 
}

header nav .login_btn:hover{ 
    background: #ffffff; color: #1c3655; 
}

/*  Hero */
.hero { 
    width: 100%; 
    height: 900px; 
    position: relative; 
    background: url('../img/back-icons.jpg') no-repeat bottom center; 
    background-size: cover; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
}

.hero .caption { 
    width: 100%; 
    position: absolute;
    text-align: center; 
    top: 57%; 
    margin-top: -105px; 
    z-index: 10; 
}

.hero .caption h2 {
    cursor: default; 
    color: #ffffff; 
    font-family: "HFF", Helvetica, Arial, sans-serif;
    font-size: 41px; 
    font-weight: lighter; 
    margin: 0; 
    position: relative; 
    display: block; 
}

.hero .caption h3 { 
    cursor: default;
    color: #ffffff; 
    font-family: 'Comfortaa', cursive; 
    font-size: 14px; 
    margin: 5px 0 0 0; 
    left: 1px; 
}

.listings .more_listing{
    display: block;
    width: 100%;
    text-align: center;
    margin: 120px 0 100px 0;
}

.listings .more_listing_btn{
    text-decoration: none;
    padding: 20px 40px;
    border: 2px solid #000000;
    color: #000000;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings .more_listing_btn:hover{
    background-color: #000000;
    color: #ffffff;   
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---Heading--- */
.heading{margin-bottom: 60px;position:relative;display:block; width: 100%;}
.heading h2{cursor: default; font-weight: 400;font-size: 55px;letter-spacing: 0px;line-height: 50px;text-transform: uppercase;}
.heading:after{position: absolute; content: "";width: 40px;height: 4px;background: #333856;left: 0;right: auto;bottom: -30px;}
.box-text.dark-style .heading:after{background: #fff;}
.box-text .t-right .heading:after{right: 0; left: auto;}
/* --no-gutter-- */
.no-gutter::after, .no-gutter::before {content: " ";display: table;}
.no-gutter::after {clear: both;}
.no-gutter{margin: 0 !important;}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
@media(max-width:767px){
    .heading{margin-bottom: 40px;}
    .heading h2{font-size: 48px;line-height: 45px;margin-top: 0;}
    .heading:after{left: calc(50% - 20px);bottom: -20px;}
    .box-text .t-right .heading:after{right: calc(50% - 20px); bottom: -20px;}
}

@media(max-width:500px){
    .heading h2{font-size: 43px;line-height: 40px;margin-top: 0;}
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {border-radius: 0;outline: none;text-decoration: none;text-transform: uppercase;font-weight: bold;box-shadow: none;border: none;}
.btn:focus,
.btn.active, 
.btn:active {background-image: none;box-shadow: none;outline: 0 none;}

.btn-skin {padding: 11px 22px;color: #1a1c1e;border: 2px solid #1a1c1e;font-size: 15px; letter-spacing: 1px;font-weight: 700;background: #fff;margin: 10px 0; font-family: 'Comfortaa', cursive; }
.btn-skin i.fa{padding-left: 5px;}
.btn-skin:hover, .btn-skin:focus {color: #fff;background-color: #1a1c1e;}

@media (max-width: 500px){
    .btn-skin {padding: 8px 20px;font-size: 14px; letter-spacing: 1.8px;font-weight: 600}
}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Margin------------------------------------ */
/* ---------------------------------------------------------------------------- */
.m-top10 { margin-top: 10px;}
.m-top15 { margin-top: 15px;}
.m-top20 { margin-top: 20px;}
.m-top30 { margin-top: 30px;}
.m-top50 { margin-top: 50px;}
.m-top80 { margin-top: 100px;}
.m-top100 { margin-top: 80px;}
.m-top120 { margin-top: 120px;}

.m-bot10 { margin-bottom: 10px;}
.m-bot15 { margin-bottom: 15px;}
.m-bot20 { margin-bottom: 20px;}
.m-bot30 { margin-bottom: 30px;}
.m-bot50 { margin-bottom: 50px;}
.m-bot80 { margin-bottom: 80px;}
.m-bot120 { margin-bottom: 120px;}

.pd-exlarge-xs{padding: 100px 90px;}
.pd-large-xs{padding: 80px 70px;}
.pd-medium-xs{padding: 60px 50px;}
.pd-small-xs{padding: 40px 30px;}

@media only screen and (min-width: 768px) {
    .pd-exlarge-sm{padding: 100px 90px;}
    .pd-large-sm{padding: 80px 70px;}
    .pd-medium-sm{padding: 60px 50px;}
    .pd-small-sm{padding: 40px 30px;}
}
@media only screen and (min-width: 992px) {
    .pd-exlarge-md{padding: 100px 90px;}
    .pd-large-md{padding: 80px 70px;}
    .pd-medium-md{padding: 60px 50px;}
    .pd-small-md{padding: 40px 30px;}
}
@media only screen and (min-width: 1200px) {
    .pd-exlarge-lg{padding: 100px 90px;}
    .pd-large-lg{padding: 80px 70px;}
    .pd-medium-lg{padding: 60px 50px;}
    .pd-small-lg{padding: 40px 30px;}
}

/* ---------------------------------------------------------------------------- */
/* --------------------------------Flex-Box------------------------------------ */
/* ---------------------------------------------------------------------------- */

/* Box Text */
.flex-box .box-text {-moz-justify-content: center;-webkit-justify-content: center;-ms-justify-content: center;justify-content: center;-moz-align-items: center;-webkit-align-items: center;-ms-align-items: center;align-items: center;/* display: flex; */}
.flex-box .box-text .box-text-inner{margin: 0 auto;max-width: 100%;}
.flex-box .box-text .box-text-inner p{cursor: default; font-size: 18px;font-weight: 500;color: #000; font-family: 'Comfortaa', cursive; line-height: 140%; }
.flex-box .box-text .title h3{font-weight: 700;color: #000;text-transform: uppercase;font-family: HFF; letter-spacing: 3px;}
.flex-box .box-text .title span{font-size: 24px; font-weight:800;color: #000;text-transform: uppercase;margin: 40px 0 20px;display: block;}


/* Box Image */
.flex-box .box-image {width: 100%;height: 100%;display: inline-block;position: relative;}
.flex-box .box-image img {position: absolute;display: block;border-radius: 0;}
/* For browsers that support 'object-fit' */
@supports ( object-fit: cover ) {
    .flex-box .box-image img {
        -moz-object-fit: cover;
        -webkit-object-fit: cover;
        -ms-object-fit: cover;
        -o-object-fit: cover;
        object-fit: cover;
        -moz-object-position: center;
        -webkit-object-position: center;
        -ms-object-position: center;
        object-position: center;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@media(min-width:768px){
    .flex-box {-moz-align-items: stretch;-webkit-align-items: stretch;-ms-align-items: stretch;align-items: stretch;display: -moz-flex;display: -webkit-flex;display: -ms-flex;display: flex;-moz-flex-direction: row;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;position: relative;overflow: hidden;}
    .flex-box .f-right{order: 2;}
    .box-text .t-right{text-align: right;}
}
@media(max-width:767px){
    .flex-box .box-text{text-align: center;}
    .flex-box .box-image {height: 400px;width: 100%;}
}
@media(max-width:500px){
    .flex-box .box-text .box-text-inner p{font-size: 15px;}
}




/*  footer  */
.footer .logo{
    font-size: 300%;
    margin-right: 20px;
    float: right;
}

footer{
    padding-top: 100px;
    background: #000000;
}

footer .footer > ul{
    overflow: hidden;
}

footer .footer > ul > li{
    display: block;
    float: left;
    list-style: none;
    margin-right: 60px;
}

footer .footer > ul > li:last-child{
    margin-right: 0;
}


footer .footer > ul > li.links{
    width: 197px;
}

footer ul li.links > ul > li{
    display: block;
    width: 100%;
    list-style: none;
    margin-bottom: 27px;
}

footer ul li.links > ul > li:last-child{
    margin-bottom: 0;
}

footer .footer > ul > li.links li a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    letter-spacing: .5px;
    text-align: left;
}

footer .footer > ul > li.about{
    width: 327px;
}

footer ul li.about p{
    cursor: default;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 34px;
    margin-top: -9px;
}

footer ul li.about > ul > li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}

footer ul li.about > ul > li:last-child{
    margin-right: 0;
}

footer ul li.about > ul > li a{
    background: url('../img/social_media.png') no-repeat;
}

footer ul li.about > ul > li a.facebook{
    display: block;
    width: 10px;
    height: 18px;
    background-position: 0 0;
}
footer ul li.about > ul > li a.twitter{
    display: block;
    width: 19px;
    height: 18px;
    background-position: -11px 0px;
}
footer ul li.about > ul > li a.google{
    display: block;
    width: 10px;
    height: 18px;
    background-position: -31px 0px;
}
footer ul li.about > ul > li a.skype{
    display: block;
    width: 17px;
    height: 18px;
    background-position: -43px 0px;
}

footer .copyrights{
    cursor: default;
    display: block;
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    letter-spacing: .5px;
    border-top: 1px solid white;
}

footer .copyrights a.ph_link{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-decoration: none;
}









/*  responsive css */


@media (max-width:1500px){
    .hero{
        height: 800px;
    }
}


@media (max-width: 1150px){
    .wrapper{
        padding: 0 40px;
        max-width: 1020px;
    }
    .search .advanced_search .arrow{
        top: -8px;
        right: 46px;
    }

    .search .advanced_search #check_in_date,
    .search .advanced_search #check_in_time,
    .search .advanced_search #bill,
    .search .advanced_search #town{
        width: 46.27272727272727%;
        padding: 0 1.818181818181818%;
    }

    .search .advanced_search #check_in_date{
        background: url('../img/calendar_icon.png') no-repeat;
        background-position: 95.08840864440079% 50%;
    }

    .search .advanced_search #check_in_time{
        background: url('../img/clock_icon.png') no-repeat;
        background-position: 95.08840864440079% 50%;
    }

    .search .advanced_search #keywords{
        width: 96.36363636363636%;
        padding: 0 1.818181818181818%;
    }

    footer .footer > ul > li{
        margin-right: 5.454545454545455%;
    }

    footer .footer > ul > li.links{
        width: 17.90909090909091%;
    }

    footer .footer > ul > li.about{
        width: 29.72727272727273%;
    }
}


@media (max-width:800px){
    .hero{
        height: 600px;
    }

    .hero .caption{
        width: 92.72727272727273%;
        padding: 0 3.636363636363636%; 
    }

    .hero .caption h3{
        margin: 0;
        left: 0;
    }

    header a.hamburger{
        display: block;
    }

    header nav{
        position: absolute;
        display: none;
        width: 92.72727272727273%;
        top: 80px;
        left: 3.636363636363636%;
        float: none;
        z-index: 20;
        overflow: hidden;
        background: #fff;
        border-top: 5px solid #0097a7;
    }

    header nav.active{
        display: block;
    }

    header nav .login_btn{
        float: none;
        display: inline-block;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 20px 0;
        text-align: center;
        background: #f2f3f3;
    }

    header nav ul{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    header nav ul li{
        display: block;
        width: 100%;
        float: none;
        margin-left: 0;
    }

    header nav ul li a{
        display: block;
        padding: 25px 0;
        border-bottom: 1px solid #f2f3f3;

        transition: background .2s linear;
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -o-transition: background .2s linear;
    }

    header nav ul li a:active{
        background: #f2f3f3;
    }

    header nav ul li a,
    header nav .login_btn{
        color: #1c3655;
    }

    header nav .login_btn:hover{
        background: #eaebeb;
    }

    header nav ul li:last-child{
        border: 0;
    }

    .listings ul.properties_list li{
        width: 46.36363636363636%;
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }

    .listings ul.properties_list li:nth-child(3n+0){
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }

    .listings ul.properties_list li:nth-child(2n+0){
        margin-right: 0;
    }

    footer .footer > ul > li{
        width: 29.6969696969697%!important;
        margin-right: 5.454545454545455%;
        margin-bottom: 100px;
    }

    footer .footer > ul > li:nth-child(3){
        margin-right: 0;
    }

    footer .footer > ul > li.links li a{
        text-align: center;
    }

    footer .footer > ul > li.about{
        text-align: center;
        float: none;
        display: inline;
        margin-right: 100%;
        overflow: hidden;
        border-top: 1px solid #82abd4;
    }
}


@media (max-width:700px){

    .search .advanced_search #check_in_date,
    .search .advanced_search #check_in_time,
    .search .advanced_search #bill,
    .search .advanced_search #town{
        width: 96.36363636363636%;
        padding: 0 1.818181818181818%;
        border-bottom: 1px solid #0097a7;
    }

    .search .advanced_search #check_in_date{
        background: url('../img/calendar_icon.png') no-repeat;
        background-position: 95.08840864440079% 50%;
    }

    .search .advanced_search #check_in_time{
        background: url('../img/clock_icon.png') no-repeat;
        background-position: 95.08840864440079% 50%;
    }

    .search .advanced_search #keywords{
        width: 96.36363636363636%;
        padding: 0 1.818181818181818%;
    }

    .search .advanced_search .search_fields{
        border-bottom: 0;
    }

    .search .advanced_search .field_sep{
        display: none;
    }
}


@media (max-width:500px){

    header{
        height: 70px;
    }

    header a.hamburger{
        margin-top: 29px;
    }

    header .logo{
        font-size: 220%;
        margin-top: 18px;
    }

    .footer .logo{
        display: none;
    }

    .listings .more_listing_btn{
        font-size: 14px;
    }

    .listings .more_listing{
        margin: 50px 0 0 0;
    }

    .listings{
        padding: 80px 0;
    }

    .search #search{
        font-size: 14px;
    }

    .search .advanced_search #check_in_date, 
    .search .advanced_search #check_in_time, 
    .search .advanced_search #bill, .search 
    .advanced_search #town, 
    .search .advanced_search #keywords{
        font-size: 14px;
    }

    input[type=checkbox] + label{
        font-size: 14px;
        float: none;
    }

    #checkbox{
        height: 200px;
        flex-direction: column;
        justify-content: center;
    }

    .check{
        margin: 0 0 20px 0;
        top: 0;
    }

    .last-check{
        margin: 0;
    }

    .hero .caption h2{
        font-size: 55px;
    }

    .hero .caption h3{
        font-size: 14px;
    }

    .search #search{
        width: 83%;
    }

    .listings ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
    }

    .listings ul.properties_list li:last-child{
        margin-bottom: 0!important;
    }


    .listings ul.properties_list li:nth-child(3n+0),
    .listings ul.properties_list li:nth-child(2n+0){
        margin:0;
    }

    .listings .more_listing_btn{
        display: block;
        width: 100%; 
        padding-left: 0!important;
        padding-right: 0!important;
    }

    footer .footer > ul > li.links,
    footer .footer > ul > li.about{
        float: none;
        width: 100%!important;
        margin-right: 0;
        margin-bottom: 60px;
        padding-bottom: 60px;
    }

    footer .footer > ul > li:last-child{
        padding-bottom: 0;
    }

    footer .footer > ul > li.links{
        border-bottom: 1px solid white;
    }

    .footer > img{
        display: none;
    }
}
